<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_BusinessAnalitics_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.254;user id=sa;password=$3rv3r5q10621%;initial catalog=BusinessAnalitics;Persist Security Info=true" />
    </connectionStrings>
</configuration>